/* styling for AppHeader Component */
.info {
    flex-direction: row;
    width: 100%;
    margin-top: 13px;
    color:#FFF;
    text-align: start;
}
.MuiSvgIcon-root{
padding-bottom:5px;

}
.makeStyles-root-21 {
    text-align: start;
    color:#FFF;
}
.hidden{
    visibility: hidden;
}