.backdrop {
    position: fixed;
    width: 70%;
    max-width: 400px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    right: 0;
}
/*mobile  320px width,
 tablet 720px width,
 desktop starting at 1024px width.*/
@media (min-width: 320px) {
    .backdrop {
        max-width: 375px;
    }
}
@media (min-width: 720px) {
    .backdrop {
        max-width: 324px;
    }
}
@media (min-width: 1024px) {
    .backdrop {
        max-width: 624px;
    }
}