/* styling for GARFOVtrs Component */
.trip-date-box {
    opacity: 0.5;
    color:#333;
}

.pdf-view-button{
    background-color:green !important;
}
.pdf-save-button{
    background-color:darkgreen !important;
}

.edit-button{
    background-color:cornflowerblue !important;
}

.left-edge{
    margin-left: 8px !important;
}
