/* styling for VesselHull Component */
.vessel-input {
  min-width: 600px;
}

.title-vessel-hull {
  font-family: Arial, Helvetica, sans-serif;
}
.title-vessel {
  font-family: Arial, Helvetica, sans-serif;
  }