.nav {
   margin-bottom: 15px;
   text-align: center;
}

.dot {
  color: rgb(65, 61, 61);
  cursor: pointer;
  font-size: 36px;
  line-height: 1;
  margin: 0 15px;
  opacity: .4;
  text-shadow: none;
}

.form-input {
  min-width: 600px;
  max-width: 620px;
}

.active {
    line-height: 1;
  font-size: 36px;
  color: blue;
  opacity: 1;
  text-shadow: 0 0px 8px;
}