.title-bar { 
    color: white;
    height:63px;
    background-color:#0074d9;
    text-align: center;
    margin-bottom:25px;
      .title-bar-text-box {
          margin: 10px;
          margin-left: 20px;
          padding-top:25px;
          margin-bottom:25px;
      }
    
    }

    .title-bar-text-box {
        font-weight: bolder;
        margin-left: 20px;
    }